<%= simple_form_for(@feeding) do |f| %>
  <% if @feeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeding.errors.count, "error") %> prohibited this feeding from being saved:</h2>

      <ul>
      <% @feeding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :created_at %><br>
    <%= f.input :kind %><br>
    <%= f.input :volumn %><br>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
