<h1>Listing feedings</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Kind</th>
      <th>Volumn</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedings.each do |feeding| %>
      <tr>
        <td><%= feeding.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= feeding.kind %></td>
        <td><%= feeding.volumn %></td>
        <td><%= link_to 'Show', feeding %></td>
        <td><%= link_to 'Edit', edit_feeding_path(feeding) %></td>
        <td><%= link_to 'Destroy', feeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feeding', new_feeding_path %>
<br>
<%= link_to 'Index', site_index_path %>
