<%= simple_form_for(@out) do |f| %>
  <% if @out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@out.errors.count, "error") %> prohibited this out from being saved:</h2>

      <ul>
      <% @out.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-input">
    <%= f.input :created_at %><br>
    <%= f.input :kind%><br>
    <%= f.input :descrp%><br>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
