<h1>Listing outs</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Kind</th>
      <th>Descrp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @outs.each do |out| %>
      <tr>
        <td><%= out.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= out.kind %></td>
        <td><%= out.descrp %></td>
        <td><%= link_to 'Show', out %></td>
        <td><%= link_to 'Edit', edit_out_path(out) %></td>
        <td><%= link_to 'Destroy', out, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Out', new_out_path %>

<br>
<%= link_to 'Index', site_index_path %>
