<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @out.kind %>
</p>

<p>
  <strong>Descrp:</strong>
  <%= @out.descrp %>
</p>

<%= link_to 'Edit', edit_out_path(@out) %> |
<%= link_to 'Back', outs_path %>
<%= link_to 'Index', site_index_path %>
